/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*Default*/

:root {
  --cor1: #D99CCF;
  --cor2: #030A8C;
  --cor3: #020659;
  --cor4: #010326;
  --cor5: #8C7604; 
  --white: #ffffff;
  --black: #000000;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  background-color: #010326;
  position: relative;
}

h1 {
  font-size: 3rem;
  color: var(--cor1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;  
}

.menu li {
  margin: 0 2rem;
}

.menu li a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--white);
}

.menu-icon {
  position: absolute;
  top: 50%;
  right: 4rem;
  font-size: 3rem;
  color: var(--white);
  cursor: pointer;
}