/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: #222;
  color: white;
  padding-bottom: 5rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.nav .logo a {
  font-size: 3rem;
  color: darkcyan;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  transition: all .3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: .2rem;
  padding: .7rem 1.5rem;
  transition: all .3s ease-in-out;
}

.nav.active {
  background-color: white;
  box-shadow: 0 .2rem 1rem rgb(0, 0, 0, 0.3);
}

.nav.active a {
  color: #222;
}

.nav.active .container {
  padding: 1rem 0;
}

.nav a.current {
  color: palevioletred;
}

.nav a:hover {
  color: darkcyan;
}